<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"> 
</head>


<body>
<nav th:replace="layouts :: navbar"></nav>

	<div class="container">
	<form action="/Project-management/employees/save" th:object="${employee}" method="post">
	<input type="text" placeholder=" First Name" th:field="${employee.firstName}"/>
	<input type="text" placeholder=" Last Name" th:field="${employee.lastName}"/>
	<input type="text" placeholder=" Email Id" th:field="${employee.emailId}"/>
	
	
	<button type="submit">ADD Employee</button>
	</form>
	</div>
</body>
</html>